[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/vnd.appimage
Actions=installAppimage

[Desktop Action installAppimage]
Name=Install Appimage
Exec=appimage-manager install %u
Icon=x-appimage
